.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__flex {
  text-align: center;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    @include centeredFlex($jc: null, $ai: baseline);
    text-align: start;
  }
}

.footer__address {
  min-width: 232px;
  @media screen and (min-width: 480px), (max-width: 1199px) {
    flex-grow: 1;
  }
}

.footer__logo--light {
  color: $primary-white-color;
}

.address {
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;

  @include desktop {
    margin-bottom: 0;
  }
}

.address__name {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 9px;
  }
}

.footer-auth__item:not(:last-child) {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 9px;
  }
}
