.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;

  & .container {
    text-align: center;

    @include tablet {
      @include centeredFlex($jc: null, $ai: baseline);

      flex-wrap: wrap;
    }

    @include desktop {
      text-align: start;
    }
  }
}

.footer__address {
  min-width: 232px;
  margin-bottom: 60px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    flex-grow: 1;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

.footer__logo--light {
  color: $primary-white-color;
}

.address {
  line-height: 1.71;
  margin-top: 20px;
  font-style: normal;
}

.address__name {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 9px;
  }
}

.footer-auth__item:not(:last-child) {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 9px;
  }
}
