.checkbox__wrap {
  margin-bottom: 30px;
}

.checkbox__label {
  position: relative;

  @include centeredFlex($jc: space-evenly, $ai: null);
  flex-wrap: wrap;

  @include font(null, 10px, 1.17, null);

  @media screen and (min-width: 332px) {
    @include font(null, 11px, 1.17, null);
  }

  @media screen and (min-width: 351px) {
    @include font(null, 12px, 1.17, null);
  }

  @media screen and (min-width: 375px) {
    @include centeredFlex($jc: space-evenly, $ai: flex-end);
  }

  @media screen and (min-width: 995px) {
    @include font(null, 14px, 1.71, null);
    @include centeredFlex($jc: space-evenly);
  }

  @include desktop {
    @include font(null, 14px, 1.71, null);
    @include centeredFlex($jc: space-evenly);
  }

  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #090b13;
    border-radius: 3px;
    margin-right: 5px;

    .checkbox__input:checked + & {
      background-color: $accent-text-color;
      background-image: url(../images/icon-check.svg);
      border: none;
      background-repeat: no-repeat;
      background-position: center;
    }

    .checkbox__input:focus + & {
      border-color: $accent-text-color;
    }
  }
}

.checkbox__link {
  text-decoration-line: underline;

  color: $accent-text-color;
}
