.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;

  background-color: $primary-white-color;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.is-hidden {
    display: none;
    @include tablet {
      display: none;
    }
  }

  @include tablet {
    display: none;
  }

  .container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    padding-left: 40px;
  }
}

.mob-menu__top,
.menu-bottom {
  width: 100%;
}

.mob-menu__icon {
  fill: currentColor;
}

.mob-menu__item {
  margin-bottom: 32px;
}

.menu-bottom__list {
  margin-bottom: 64px;
}

.menu-bottom__tel {
  margin-bottom: 32px;
}

.mob-soc__list {
  display: flex;
}

.mob-soc__item {
  & + & {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-soc__link {
  @media screen and (max-width: 399px) {
    font-size: 13px;
  }

  @include font(500, 18px, 1.22, 0.02em);

  color: $accent-text-color;
}
