$primary-text-color: #757575;
$primary-black-color: #000000;
$primary-white-color: #ffffff;
$title-black-color: #212121;
$accent-text-color: #2196f3;
$accent-hover-color: #188ce8;
$address-footer-color: rgba(255, 255, 255, 0.6);
$secondary-background-color: #f5f4fa;
$link-main-color: rgba(175, 177, 184, 1);
$link-bg-color: rgba(255, 255, 255, 0.1);
$main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
